
.mn-open {
    display: block !important;
}

.mn-wrapper {
    display: none;
    z-index: 100;
    position: absolute;
    left: 0;
    /* top: ; */
    width: 100vw;
    background-color: darkgrey;
    padding: 1rem;
}

/** The following clases are probably not needed - we can achieve the same
    thing with bootstrap utility classes and grid */
.mn-content {
    display: flex;
    flex-direction: content;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* width: 100%; */
}

.mn-item {
    flex-basis: 20%;
}

ul.mn-content {
    list-style-type: none;
    padding: 0;
    margin: 0;
}