.main-nav {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-nav-logo-container {
    pointer-events: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav-logo {
    pointer-events: initial;
    height: 3rem;
    width: auto;
    margin: 0.3rem;
}

.main-nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    background-color: rgba(0, 89, 113, 98);
    color: #fff;
    top: -100vh;
    /* Initially hidden off-screen */
    transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.main-nav-links-active {
    top: 0px;
    /* Show the menu when active */
    transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.main-nav-primary,
.main-nav-secondary {
    text-transform: uppercase;
    font-size: 0.625rem;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 1rem;
}

.main-nav-primary {
    padding-top: 1rem;
    font-weight: 600;
}

.main-nav-primary a,
.main-nav-secondary a {
    color: inherit;
}

.main-nav-secondary {
    font-weight: 600;
    margin-top: 2rem;
}

.main-nav-primary-item,
.main-nav-secondary-item {
    font-size: 0.875rem;
    list-style: none;
    /* position: relative; */
}

.main-nav-secondary-item {
    display: block;
    width: 100%;
    position: relative;
}

.main-nav-secondary-item:last-child {
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
    /* Add any additional styles you want for the last item */
}

.main-nav-secondary-item>a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main-nav-btn-open {
    pointer-events: all;
    display: block;
}

.main-nav-btn-open,
.main-nav-btn-close {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.main-nav-btn-close {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

/**
 * Submenu styles
 * This component can be treated as self contained rather than being part of the main nav.
 */
.submenu {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: relative;
    max-height: 0px;
}

/**
 * Styles for the submenu when it is loaded to stop initial display of menu
 */
.submenu-loaded {
    transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out, max-height 0.33s ease-in-out;
}

.submenu-active {
    display: block;
    opacity: 1;
    pointer-events: initial;
    transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out, max-height 0.33s ease-in-out;
    height: auto;
    max-height: 300px;
    /* Prevents the submenu from growing too large */
}

.submenu-grid {
    list-style: none;
    padding: 0 0 0 20px;
    background-color: rgba(0, 89, 113, 98);
    color: #fff;
}

[data-main-nav-img] {
    background-position: -5000px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1200px) {

    .nav-container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .main-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav-logo-container {
        max-width: 1440px;
        width: 100%;
        margin: auto;
        position: absolute;
        inset: 4rem 0 0 0;
        left: 0;
    }

    .main-nav-logo {
        height: 4rem;
    }

    .main-nav-primary-outer {
        background-color: #f6f5ee;
        display: block;
    }

    .main-nav-primary {
        border: none;
        padding: 0;
    }

    .main-nav-primary,
    .main-nav-secondary {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        padding: 1rem 2rem;
        margin: 1rem 0;
        padding: 0;
        font-weight: 800;
    }

    .main-nav-links {
        position: initial;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        background-color: #fff;
        color: #575756;
        padding: 0;
    }

    .main-nav-secondary-item {
        display: flex;
        align-items: center;
        width: auto;
        position: initial;
    }

    .main-nav-secondary-item::after {
        content: none;
    }

    .main-nav-secondary-item:last-child {
        padding: 0;
        border: none;
    }

    .main-nav-btn-open {
        display: none;
    }

    .main-nav-btn-close {
        display: none;
    }

    .submenu {
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
    }

    .submenu-active {
        top: 100%;
    }

    .submenu-grid {
        background-color: #fff;
        width: 90%;
        margin: auto;
        max-width: 1440px;
        background-color: #fff;
        color: #575756;
        justify-content: space-between;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        display: grid;
        /* grid-template-columns: repeat(4, 1fr); */
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .submenu-grid-7 {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }

    .submenu-grid-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .submenu-grid-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .submenu-grid-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .submenu-grid-item {
        background-color: #ccc;
        padding: 0;
        min-height: 140px;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .submenu-grid-item--double {
        grid-column: span 2;
    }

    .submenu-grid-item--full {
        grid-row: span 2;
    }
    
    [data-main-nav-img] {
        background-position: center;
    }
    
    /** * Rounded button styles
    *  Need to update the bootstrap variables to use these styles
    */
    .submenu-btn {
        margin: 1rem;
        max-width: calc(100% - 1rem);
        display: flex;
        align-items: center;
        justify-content: center;

        text-transform: uppercase;

        padding: 0.9375rem 1.5625rem;
        border: 1px solid #8e1371;
        border-radius: 6.25rem;
        background-color: #fff;
        color: #8e1371;

        font-size: 0.625em;
        font-weight: 700;

        /* white-space: normal; */
        hyphens: manual;
        text-align: center;
        overflow: hidden;
        min-width: 6.25rem;
        max-width: 100%;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    .submenu-btn:hover,
    .submenu-btn:focus-visible {
        background-color: #8e1371;
        color: #fff;
        border-color: transparent;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        outline: none;
    }
}
